body {
    font-family: roboto, serif;
    font-size: 24px;
    color: black;
    height: 100vh;
    text-align: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #102937;
    height: 50px;
    
}

.header-logo {
    padding-top: 0px;
    padding-left: 300px;
    
}

.header-links {
    padding-top: 15px;
    padding-right: 300px;
    font-size: 15px;
}

a {
    color: white;
    text-decoration: none;
    padding-right: 20px;
}


.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #091d26;
    height: 500px;
}

.section1right {
    padding-left: 50px;
    border-radius: 100px;
}

img {
    border-radius: 20px;
    border: black;
}

.section1left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.section1-text1 {
    font-size: 40px;
    padding-bottom: 5px;
}

.section1-subtext {
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
}

.section2 {
    display: flex;
    height: 400px;
    padding-top: 20px;
    justify-content: center;
    flex-direction: column;
}

.section2-title {
    font-weight: bold;
    margin-bottom: 20px ;
}
.section2-images {
    display: flex;
    justify-content: center;
}

.first-image {
    font-size: medium;
    margin: 20px;
    border-radius: 2px;
}

.section2-image {
    border: solid royalblue 1px;
   
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e1fdff;
    height: 400px;
}

.section3-quote {
    font-style: italic;
    padding: 10px;
}

.author {
    font-weight: bold;
    padding-left: 70px;
}

.section4 {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color:white;
    
}

.section4-banner {
    display: flex;
    color: white;
    padding: 20px 150px;
    background-color: #3882F6;
    border-radius: 5px;
    justify-content: center;
    text-align: left;
    gap: 300px;
    
    
}

.section4-button {
    margin-top: 5px;
    padding-top: 10px;
    border: solid white 2px;
}

.section4-left {
    align-items: self-start;
    padding-top: 0px;
}

.section4-text1 {
    font-size: 30px;
}

.section4-subtext {
    font-size: 20px;
}

.section4-right {
    align-items: flex-start;
    padding-top: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    height: 30px;
    font-size: 15px;
    color: white;
    background-color: #102937;
}